body{
    margin:0;
 
}
#upper{
 
 background-color:#FFCD9E;
 height: 65vh;

}
#style1{
 font-family: 'Inter';
 font-size: 58;
 position: absolute;
 margin-top: 22;
 margin-left: 136;

}
#style2{
 position: absolute;
 display: flex;
 /* width: 495;
 height: 81px; */
 font-family: 'Inter';
 font-size: 26;
 margin-top: 179;
 margin-left: 136;
 
}
#style3{
 position: absolute;
 font-size: 24;
 width: 227px;
 height: 81px;
 margin-left: 136px;
 margin-top: 290px;
}
#style4{
 position: absolute;
 border:2px solid black;
 border-radius: 3px;
 width: 185;
 margin-left: 136px;
 margin-top: 320px;  
 box-sizing: border-box;

}   
#style5{
 position: absolute;
 color: white;
 border: 2px solid ;
 border-radius: 8px;
 background-color: black;
 padding: 4px;
 font-family: 'Inter';
 font-size: 19;
 position: absolute;
 width: 105px;
 height: 23px;
 left: 346px;
 top: 337px; 

}   
#style6{
 position: absolute;
 margin-left:993px;
 margin-top:19px;
 width: 234px;
 height: 349;
}
#style7{
 color: white;
 position: absolute;
 font-family: 'Inter';
 font-weight: 600;
 margin-top:345;
 margin-left: 136;
 font-size: 12;
}
#one{
 position: absolute;
 color: white;
 margin-left:136;
 margin-top: 41;
 font-weight: 400;
 font-size: 20px;
}
#two{
 position: absolute;
 color: white;
 margin-left: 136;
 margin-top: 60;
 font-weight: 400;
 font-size: 20px;
}
#three{
 position: absolute;
 color: white;
 margin-left: 136;
 margin-top: 77;
 font-weight: 400;
 font-size: 20px;
}
#four{
 position: absolute;
 color: white;
 margin-left: 136;
 margin-top: 94;
 font-weight: 400;
 font-size: 20px;
}
#five{
 position: absolute;
 color: white;
 margin-left: 136;
 margin-top: 111;
 font-weight: 400;
 font-size: 20px;
}
#six{
 position: absolute;
 color: white;
 margin-left: 1099;
 margin-top: -40;
 
 font-weight: 400;
 font-size: 20px;

}
#seven{
 position: absolute;
 color: white;
 margin-left: 990;
 margin-top: -7;
 font-weight: 400;
 font-size: 20px;
}
#eight{
 position: absolute;
 background-color:#FFCD9E;
 width: 26;
 margin-left: 1115;
 margin-top: 25;
}
#nine{
 position: absolute;
 background-color: #FFCD9E;
 width: 21;
 margin-left: 1156;
 margin-top: 25;
}
#ten{
 position: absolute;
 color:white;
 font-size: 20;
 font-weight: 400;
 width: 21;
 margin-left: 1054;
 margin-top: 112;

}
#lower{

 background-color: black;
 height: 40vh;
}
@media only screen and (max-width:700){
 #style6{
         flex-direction: column-reverse;
         margin-top: 45;
 }
 
}
